{% load static wagtailcore_tags i18n %}
<div id="menu-detail">
  <title id="pageTitle" hx-swap-oob="true">Jadłospis</title>
  <div
    id="spinner"
    class="request-indicator htmx-indicator absolute inset-0 z-30 min-h-dvh w-full bg-neutral-200"
  >
    <div
      class="loader-circle absolute top-1/2 left-1/2 z-30 -translate-x-1/2"
    ></div>
  </div>
  <main
    class="mx-auto max-w-[1200px] px-2 pt-2 pb-10"
    hx-get="{% url 'menu:list' %}"
    hx-trigger="menuDeleted from:body"
    hx-swap="outerHTML"
  >
    <div class="flex flex-wrap items-center gap-3">
      <a
        href="{% url 'menu:list' %}"
        hx-get="{% url 'menu:list' %}"
        hx-target="#menu-detail"
        hx-swap="outerHTML"
        hx-select="#main-menu"
        hx-push-url="true"
        class="my-1 flex max-w-max cursor-pointer items-center justify-center gap-2 rounded-full
        border-2 border-[#d3af37] bg-gray-50 px-4 py-2 font-semibold uppercase transition-all duration-300
        hover:bg-[#d4bf79] hover:ring-2 hover:ring-[#d3af37] hover:ring-offset-2"
        type="submit"
      >
        <svg class="h-4 w-4 fill-neutral-800" alt="" aria-hidden="true">
          <use href="{% static 'img/sprite.svg' %}#list" />
        </svg>
        Lista
      </a>
      {% if menu %}
      <a
        href="{% url 'menu:update' menu.id %}"
        hx-get="{% url 'menu:update' menu.id %}"
        hx-target="#menu-detail"
        hx-swap="outerHTML"
        hx-select="#menu-form"
        hx-push-url="true"
        hx-indicator="#spinner, .loaded-content"
        class="my-1 flex max-w-max cursor-pointer items-center justify-center gap-2 rounded-full
        border-2 border-[#d3af37] bg-gray-50 px-4 py-2 font-semibold uppercase transition-all duration-300
        hover:bg-[#d4bf79] hover:ring-2 hover:ring-[#d3af37] hover:ring-offset-2"
        type="submit"
      >
        <svg class="h-4 w-4 fill-neutral-800" alt="" aria-hidden="true">
          <use href="{% static 'img/sprite.svg' %}#pencil" />
        </svg>
        Edytuj
      </a>
      <a
        class="my-1 flex max-w-max cursor-pointer items-center justify-center gap-2 rounded-full
        border-2 border-[#d3af37] bg-gray-50 px-4 py-2 font-semibold uppercase transition-all
        duration-300 hover:bg-[#d4bf79] hover:ring-2 hover:ring-[#d3af37] hover:ring-offset-2"
        hx-delete="{% url 'menu:delete' menu.id %}"
        hx-target="#menu-detail"
        hx-swap="outerHTML"
        confirm-swal="jadłospis od {{ menu.date_from|date:'d.m.' }} do {{ menu.date_to|date:'d.m.Y' }}"
      >
        <svg class="h-4 w-4 fill-neutral-800" alt="" aria-hidden="true">
          <use href="{% static 'img/sprite.svg' %}#trash" />
        </svg>
        Usuń
      </a>
      <a
        href="{% url 'menu:pdf' menu.id %}"
        class="my-1 flex max-w-max cursor-pointer items-center justify-center gap-2 rounded-full border-2 border-[#d3af37]
        bg-gray-50 px-4 py-2 font-semibold uppercase transition-all duration-300 hover:bg-[#d4bf79] hover:ring-2 hover:ring-[#d3af37] hover:ring-offset-2"
      >
        <svg class="h-4 w-4 fill-neutral-800" alt="" aria-hidden="true">
          <use href="{% static 'img/sprite.svg' %}#download" />
        </svg>
        PDF
      </a>
      {% endif %}
    </div>
    <div class="flex flex-wrap items-center justify-between gap-2">
      {% if menu %}
      <div class="flex flex-wrap items-center justify-start gap-4">
        <h1
          class="my-4 text-center text-3xl font-bold text-teal-950 md:my-6 lg:my-10"
        >
          Jadłospis od {{menu.date_from|date:"d.m."}} do {{menu.date_to|date:"d.m.Y"}}
        </h1>
      </div>
      {% else %}
      <h1 class="mt-8 mb-10 text-3xl font-bold text-teal-950">
        Brak jadłospisu w wybranym okresie
      </h1>
      {% endif %}
      <form
        method="get"
        action='{% url "menu:date-detail" %}'
        hx-get='{% url "menu:date-detail" %}'
        hx-target="#menu-detail"
        hx-select="#menu-detail"
        hx-push-url="true"
        hx-swap="outerHTML"
        autocomplete="off"
        class="mx-2 my-4 flex items-center justify-center gap-2"
      >
        <label for="datepicker" class="font-semibold">Przejdź do:</label>
        <div class="relative max-w-sm">
          <div
            class="pointer-events-none absolute inset-y-0 start-0 flex items-center ps-3.5"
          >
            <svg
              class="h-4 w-4 text-gray-500 dark:text-gray-400"
              aria-hidden="true"
              xmlns="http://www.w3.org/2000/svg"
              fill="currentColor"
              viewBox="0 0 20 20"
            >
              <path
                d="M20 4a2 2 0 0 0-2-2h-2V1a1 1 0 0 0-2 0v1h-3V1a1 1 0 0 0-2 0v1H6V1a1 1 0 0 0-2 0v1H2a2 2 0 0 0-2 2v2h20V4ZM0 18a2 2 0 0 0 2 2h16a2 2 0 0 0 2-2V8H0v10Zm5-8h10a1 1 0 0 1 0 2H5a1 1 0 0 1 0-2Z"
              />
            </svg>
          </div>
          <input
            datepicker
            id="datepicker"
            type="text"
            name="selected_date"
            class="block w-full rounded-l-lg border border-gray-300 bg-gray-50 p-2.5 ps-10 text-sm
            text-gray-900 focus:border-blue-500 focus:ring-blue-500 dark:border-gray-600
            dark:bg-gray-700 dark:text-white dark:placeholder-gray-400 dark:focus:border-blue-500 dark:focus:ring-blue-500"
            placeholder="Wybierz datę"
          />
        </div>
        <button
          class="my-1 -ml-2 max-w-max cursor-pointer rounded-r-lg bg-[#d3af37] px-4 py-2
          font-semibold uppercase transition-all duration-300 hover:ring-2 hover:ring-[#d3af37] hover:ring-offset-2"
          type="submit"
        >
          OK
        </button>
      </form>
    </div>
    <div class="relative overflow-x-auto shadow-md sm:rounded-lg">
      <table
        class="w-full text-left text-gray-700 rtl:text-right dark:text-gray-400"
      >
        <thead
          class="bg-teal-700 text-sm text-white uppercase dark:bg-gray-700 dark:text-gray-400"
        >
          <tr>
            <th scope="col" class="px-4 py-3">
              <span class="sr-only">Dzień</span>
            </th>
            <th scope="col" class="px-4 py-3">Śniadanie</th>
            <th scope="col" class="px-4 py-3">II&nbsp;śniadanie</th>
            <th scope="col" class="px-4 py-3">Zupa</th>
            <th scope="col" class="px-4 py-3">II danie</th>
            <th scope="col" class="px-4 py-3">Podwieczorek</th>
          </tr>
        </thead>
        <tbody>
          <tr
            class="border-b border-gray-200 bg-white hover:bg-gray-50 dark:border-gray-700 dark:bg-gray-800 dark:hover:bg-gray-600"
          >
            <th
              scope="row"
              class="px-4 py-4 font-medium whitespace-nowrap text-teal-900 dark:text-white"
            >
              Poniedziałek
            </th>
            <td class="px-4 py-4">{{ menu.breakfast1|richtext }}</td>
            <td class="px-4 py-4">{{ menu.snack1|richtext }}</td>
            <td class="px-4 py-4">{{ menu.soup1|richtext }}</td>
            <td class="px-4 py-4">{{ menu.main1|richtext }}</td>
            <td class="px-4 py-4">{{ menu.dessert1|richtext }}</td>
          </tr>
          <tr
            class="border-b border-gray-200 bg-white hover:bg-gray-50 dark:border-gray-700 dark:bg-gray-800 dark:hover:bg-gray-600"
          >
            <th
              scope="row"
              class="px-4 py-4 font-medium whitespace-nowrap text-teal-900 dark:text-white"
            >
              Wtorek
            </th>
            <td class="px-4 py-4">{{ menu.breakfast2|richtext }}</td>
            <td class="px-4 py-4">{{ menu.snack2|richtext }}</td>
            <td class="px-4 py-4">{{ menu.soup2|richtext }}</td>
            <td class="px-4 py-4">{{ menu.main2|richtext }}</td>
            <td class="px-4 py-4">{{ menu.dessert2|richtext }}</td>
          </tr>
          <tr
            class="border-b border-gray-200 bg-white hover:bg-gray-50 dark:border-gray-700 dark:bg-gray-800 dark:hover:bg-gray-600"
          >
            <th
              scope="row"
              class="px-4 py-4 font-medium whitespace-nowrap text-teal-900 dark:text-white"
            >
              Środa
            </th>
            <td class="px-4 py-4">{{ menu.breakfast3|richtext }}</td>
            <td class="px-4 py-4">{{ menu.snack3|richtext }}</td>
            <td class="px-4 py-4">{{ menu.soup3|richtext }}</td>
            <td class="px-4 py-4">{{ menu.main3|richtext }}</td>
            <td class="px-4 py-4">{{ menu.dessert3|richtext }}</td>
          </tr>
          <tr
            class="border-b border-gray-200 bg-white hover:bg-gray-50 dark:border-gray-700 dark:bg-gray-800 dark:hover:bg-gray-600"
          >
            <th
              scope="row"
              class="px-4 py-4 font-medium whitespace-nowrap text-teal-900 dark:text-white"
            >
              Czwartek
            </th>
            <td class="px-4 py-4">{{ menu.breakfast4|richtext }}</td>
            <td class="px-4 py-4">{{ menu.snack4|richtext }}</td>
            <td class="px-4 py-4">{{ menu.soup4|richtext }}</td>
            <td class="px-4 py-4">{{ menu.main4|richtext }}</td>
            <td class="px-4 py-4">{{ menu.dessert4|richtext }}</td>
          </tr>
          <tr
            class="border-b border-gray-200 bg-white hover:bg-gray-50 dark:border-gray-700 dark:bg-gray-800 dark:hover:bg-gray-600"
          >
            <th
              scope="row"
              class="px-4 py-4 font-medium whitespace-nowrap text-teal-900 dark:text-white"
            >
              Piątek
            </th>
            <td class="px-4 py-4">{{ menu.breakfast5|richtext }}</td>
            <td class="px-4 py-4">{{ menu.snack5|richtext }}</td>
            <td class="px-4 py-4">{{ menu.soup5|richtext }}</td>
            <td class="px-4 py-4">{{ menu.main5|richtext }}</td>
            <td class="px-4 py-4">{{ menu.dessert5|richtext }}</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="mt-3 flex w-full flex-wrap items-center justify-center gap-4">
      {% if prev %}
      <a
        href="{% url 'menu:detail' prev.id %}"
        class="flex items-center gap-2 font-semibold text-teal-800 underline underline-offset-2 hover:no-underline"
      >
        <svg class="-mb-1 h-4 w-4 fill-teal-800" alt="" aria-hidden="true">
          <use href="{% static 'img/sprite.svg' %}#arrow-left" /></svg
        >Poprzedni</a
      >
      {% endif %}
      {% if next %}
      <a
        href="{% url 'menu:detail' next.id %}"
        class="flex items-center gap-2 font-semibold text-teal-800 underline underline-offset-2 hover:no-underline"
        >Następny
        <svg
          class="-mb-1 h-4 w-4 rotate-180 fill-teal-800"
          alt=""
          aria-hidden="true"
        >
          <use href="{% static 'img/sprite.svg' %}#arrow-left" />
        </svg>
      </a>
      {% endif %}
    </div>
  </main>
</div>
