{% load static wagtailcore_tags wagtailuserbar %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title id="pageTitle" hx-swap-oob="true">
            {% block title %}
            {% if page.seo_title %}{{ page.seo_title }}{% else %}{{ page.title }}{% endif %}
            {% endblock %}
            {% block title_suffix %}
            {% wagtail_site as current_site %}
            {% if current_site and current_site.site_name %}- {{ current_site.site_name }}{% endif %}
            {% endblock %}
        </title>
        {% if page.search_description %}
        <meta name="description" content="{{ page.search_description }}" />
        {% endif %}
        <meta name="viewport" content="width=device-width, initial-scale=1" />

        {# Force all links in the live preview panel to be opened in a new tab #}
        {% if request.in_preview_panel %}
        <base target="_blank">
        {% endif %}

        {# Global stylesheets #}
        {% comment %} <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Poetsen+One&display=swap" rel="stylesheet"> {% endcomment %}
        <link href="{% static 'css/lightbox.min.css' %}" rel="stylesheet" media="print" onload="this.media='all'"/>
        <link rel="stylesheet" type="text/css" href="{% static 'css/zawada.css' %}" >

        {% block extra_css %}
        {# Override this in templates to add extra stylesheets #}
        {% endblock %}
        <script type="text/javascript" src="{% static 'js/main.js' %}" defer></script>
        <script type="text/javascript" src="{% static 'js/htmx.min.js' %}" defer></script>
        {% block extra_js %}
        {%endblock%}
    </head>
    <body
        hx-headers='{"x-csrftoken": "{{ csrf_token }}"}'
        class="overflow-x-hidden {% block body_class %}{% endblock %}">
        {% wagtailuserbar %}
        {% block navbar %}
        {% include "includes/navbar.html" %}
        {% endblock navbar %}
        {% block content %}
        {% endblock %}
    </body>
</html>
