{% extends "base.html" %}
{% load static %}
{% block body_class %}bg-[#dde6e5]{% endblock %}
{% block content %}
<div class="w-full flex flex-col gap-4 justify-center items-center pt-24 pb-10 px-2">
    <h1 class="font-semibold text-2xl">Proszę podać hasło, aby uzyskać dostęp do galerii</h1>
    <form action="{{ action_url }}" method="POST"
        class="flex flex-col gap-4 items-center justify-center">
        {% csrf_token %}
        {{ form.non_field_errors }}
        {{ form.password.errors }}

        <div>
            <label for="id_password">Hasło:</label>
            <input type="password" name="password" required="" id="id_password"
            class="block w-full rounded-lg border border-gray-300 bg-gray-50 p-2.5 ps-10 text-sm mt-1
            text-gray-900 focus:outline-teal-800  dark:border-gray-600 dark:bg-gray-700 dark:text-white
            dark:placeholder-gray-400 ">


            {% for field in form.hidden_fields %}
                {{ field }}
            {% endfor %}
            <input type="submit" value="Wejdź do galerii"
            class="w-full rounded-lg bg-teal-800 mt-4 px-4 py-2 font-semibold
            text-white cursor-pointer hover:bg-teal-700 focus:outline-offset-4 focus:outline-teal-800
            focus:outline-2
            dark:bg-teal-700  />
        </div>
    </form>
    </div>
{% endblock content %}
