{% extends "base.html" %}
{% load static wagtailcore_tags wagtailimages_tags %}
{% block extra_css %}
{% endblock %}
{% block body_class %}bg-[#dde6e5]{% endblock %}
{% block content %}
<main id="news-page" class="flex flex-col gap-4 w-full mx-auto max-w-[1200px] px-2 mb-8">
    {%include 'includes/breadcrumb.html'%}
<h1 class="font-poetsen text-3xl mb-2">{{ page.title }}</h1>
<div class="flex flex-wrap gap-4 mb-3">
  <div class="flex gap-2 items-center md:justify-start ">
      <svg class="h-5 w-5 fill-[#d3af37]" alt="" aria-hidden="true">
        <use href="{% static 'img/sprite.svg' %}#calendar" />
      </svg>
      <p class="page-date">{{page.publish_date}}</p>
  </div>
  <div class="flex gap-2 items-center bg-gray-100 rounded-md shadow-md px-2 py-1">
    <p>Udostępnij:</p>
    <a href="https://api.whatsapp.com/send?text={{ request.build_absolute_uri }}" target="_blank" title="WhatsApp" class="whatsapp-link p-0.5">
      <svg class="h-5 w-5 fill-black " alt="" aria-hidden="true">
        <use href="{% static 'img/sprite.svg' %}#whatsapp" />
      </svg><span class="sr-only">Udostępnij za pomocą Whatsappa</span>
    </a>
    <a href="fb-messenger://share?link={{ request.build_absolute_uri }}" target="_blank" title="Messanger" class="messanger-link">
      <svg class="h-6 w-6 fill-black" alt="" aria-hidden="true">
        <use href="{% static 'img/sprite.svg' %}#messanger" />
      </svg><span class="sr-only">Udostępnij za pomocą Messangera</span>
    </a>
  </div>
</div>
{% include_block page.body %}
<div class="flex gap-2 flex-wrap justify-between my-6">
  {% if prev_news %}
  <div class="flex gap-1 items-center mr-auto">
      <svg class="h-3 w-3 fill-[#d3af37] mt-1 mr-1 align-bottom rotate-180" alt="" aria-hidden="true">
          <use href="{% static 'img/sprite.svg' %}#chevron-rr" />
      </svg>
      <a href="{{ prev_news.url }}"
          hx-get="{{ prev_news.url }}"
          hx-swap="outerHTML show:window:top"
          hx-target="#news-page"
          hx-select="#news-page"
          hx-push-url="true"
          class="text-sky-800 font-semibold underline hover:no-underline text-left">
          {{ prev_news.title }}
      </a>
  </div>
  {% endif %}
  {% if next_news %}
  <div class="flex gap-1 items-center ml-auto">
      <a href="{{ next_news.url }}"
          hx-get="{{ next_news.url }}"
          hx-swap="outerHTML show:window:top"
          hx-push-url="true"
          hx-target="#news-page"
          hx-select="#news-page"
          class="text-sky-800 font-semibold underline hover:no-underline text-right mr-2">
          {{ next_news.title }}
      </a>
      <svg class="h-3 w-3 fill-[#d3af37] mt-1 mr-1 align-bottom" alt="" aria-hidden="true">
          <use href="{% static 'img/sprite.svg' %}#chevron-rr" />
      </svg>
  </div>
  {% endif %}
</div>
</main>
{% endblock content %}
