{% extends "base.html" %}
{% load static wagtailcore_tags %}
{% block title %}
Edycja jadłospisu
{% endblock %}
{% block body_class %}bg-[#dde6e5] loaded-content{% endblock %}
{{ importmap }}
{% block content %}
<main id="menu-form" class="max-w-[1200px] mx-auto pb-10 pt-2">
  <div class="flex flex-wrap gap-3 items-center">
    <a href="{% url 'menu:list' %}"
        hx-get="{% url 'menu:list' %}"
        hx-target="#menu-form"
        hx-swap="outerHTML"
        hx-push-url="true"
        class="max-w-max flex justify-center items-center gap-2
      border-[#d3af37] border-2  bg-gray-50 px-4 py-2 my-1 rounded-full font-semibold uppercase cursor-pointer
        hover:ring-2 hover:ring-[#d3af37] hover:ring-offset-2 hover:bg-[#d4bf79]
        transition-all duration-300" type="submit">
          <svg class="w-4 h-4 fill-neutral-800" alt="" aria-hidden="true">
            <use href="{% static 'img/sprite.svg' %}#list" />
        </svg>
        Lista
    </a>
    {% if menu %}
    <a href="{% url 'menu:detail' menu.id %}"
        hx-get="{% url 'menu:detail' menu.id %}"
        hx-target="#menu-form"
        hx-swap="outerHTML"
        hx-push-url="true"
        confirm-swal="Niezapisane zmiany zostaną utracone. Czy na pewno chcesz przejść do podglądu"
        class="max-w-max flex justify-center items-center gap-2
      border-[#d3af37] border-2  bg-gray-50 px-4 py-2 my-1 rounded-full font-semibold uppercase cursor-pointer
        hover:ring-2 hover:ring-[#d3af37] hover:ring-offset-2 hover:bg-[#d4bf79]
        transition-all duration-300" type="submit">
          <svg class="w-4 h-4 fill-neutral-800" alt="" aria-hidden="true">
            <use href="{% static 'img/sprite.svg' %}#visible" />
        </svg>
        Powrót
    </a>
    {% endif %}
  </div>
  {% if success_msg %}<p>{{ success_msg }}</p>{% endif %}
  <form method="post" class="max-w-[1200px] mx-auto flex flex-col px-2">
    {% csrf_token %}
    {{ form.media }}
    <div class="flex flex-wrap gap-4 justify-between items-center mb-10 mt-8">
      {% if not menu %}
      <h1 class="font-bold text-3xl text-teal-950">Dodaj nowy jadłospis</h1>
      {% else %}
      <h1 class="font-bold text-3xl text-teal-950">Edytuj jadłospis</h1>
      {% endif %}
      <div id="date-range-picker" date-rangepicker class="flex items-center flex-wrap gap-2">
        <label for="datepicker-range-start" class="font-semibold text-gray-800"> Na okres od</label>
        <div class="relative">
          <div class="absolute inset-y-0 start-0 flex items-center ps-3 pointer-events-none">
            <svg class="w-4 h-4 text-gray-500 dark:text-gray-400" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
              fill="currentColor" viewBox="0 0 20 20">
              <path
                d="M20 4a2 2 0 0 0-2-2h-2V1a1 1 0 0 0-2 0v1h-3V1a1 1 0 0 0-2 0v1H6V1a1 1 0 0 0-2 0v1H2a2 2 0 0 0-2 2v2h20V4ZM0 18a2 2 0 0 0 2 2h16a2 2 0 0 0 2-2V8H0v10Zm5-8h10a1 1 0 0 1 0 2H5a1 1 0 0 1 0-2Z" />
            </svg>
          </div>
          <input id="datepicker-range-start" name="date_from" type="text" value="{{ menu.date_from }}"
            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full ps-10 p-2.5  dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
            placeholder="Wybierz datę">
        </div>
        <label for="datepicker-range-end" class="font-semibold text-gray-800"> do </label>
        <div class="relative">
          <div class="absolute inset-y-0 start-0 flex items-center ps-3 pointer-events-none">
            <svg class="w-4 h-4 text-gray-500 dark:text-gray-400" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
              fill="currentColor" viewBox="0 0 20 20">
              <path
                d="M20 4a2 2 0 0 0-2-2h-2V1a1 1 0 0 0-2 0v1h-3V1a1 1 0 0 0-2 0v1H6V1a1 1 0 0 0-2 0v1H2a2 2 0 0 0-2 2v2h20V4ZM0 18a2 2 0 0 0 2 2h16a2 2 0 0 0 2-2V8H0v10Zm5-8h10a1 1 0 0 1 0 2H5a1 1 0 0 1 0-2Z" />
            </svg>
          </div>
          <input id="datepicker-range-end" name="date_to" type="text" value="{{ menu.date_to }}"
            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full ps-10 p-2.5  dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
            placeholder="Wybierz datę">
        </div>
      </div>
    </div>

    {% if form.errors %}
    {{ form.errors }}
    {% endif %}

    <div
      class="menu-form self-stretch lg:grid grid-cols-[7rem_repeat(5,minmax(0,_1fr))] gap-x-1 gap-y-2 px-2 lg:px-3 pb-6 rounded-t-lg bg-slate-50">
      <div class="col bg-teal-700 lg:-ml-3 lg:rounded-tl-lg"></div>
      <div class="bg-teal-700 lg:p-2 lg:py-3 text-white block sr-only lg:not-sr-only lg:-mx-1 ">
        <p class="uppercase text-sm font-semibold">Śniadanie</p>
      </div>
      <div class="bg-teal-700 lg:px-2 lg:py-3 text-white sr-only lg:not-sr-only lg:-mx-1">
        <p class="uppercase text-sm font-semibold">II śniadanie</p>
      </div>
      <div class="bg-teal-700 lg:px-2 lg:py-3 text-white sr-only lg:not-sr-only lg:-mx-1">
        <p class="uppercase text-sm font-semibold">Zupa</p>
      </div>
      <div class="bg-teal-700 lg:px-2 lg:py-3 text-white sr-only lg:not-sr-only lg:-mx-1">
        <p class="uppercase text-sm font-semibold">II danie</p>
      </div>
      <div class="bg-teal-700 lg:px-2 lg:py-3 text-white sr-only lg:not-sr-only lg:-ml-1 lg:-mr-3 lg:rounded-tr-lg">
        <p class="uppercase text-sm font-semibold">Podwieczorek</p>
      </div>
      <!-- #TODO set aria-labelledby -->
      <div class="col-1 row-2 sr-only lg:not-sr-only">
        <p class="text-teal-900 font-semibold">Poniedziałek</p>
      </div>
      <div class="col-1 row-3 sr-only lg:not-sr-only">
        <p class="text-teal-900 font-semibold">Wtorek</p>
      </div>
      <div class="col-1 row-4 sr-only lg:not-sr-only">
        <p class="text-teal-900 font-semibold">Środa</p>
      </div>
      <div class="col-1 row-5 sr-only lg:not-sr-only">
        <p class="text-teal-900 font-semibold">Czwartek</p>
      </div>
      <div class="col-1 row-6 sr-only lg:not-sr-only">
        <p class="text-teal-900 font-semibold">Piątek</p>
      </div>
      {% for field in form %}
      {% if "1" in field.name %}
      <div class="row-2 bg-slate-100 rounded-md px-1 pb-4 pt-2">
        <span id="label1_{{ field.name }}" class="lg:sr-only">{{ field.label }}</span>
        <div x-data x-init="$el.querySelector('.tiptap')?.setAttribute('aria-labelledby', 'label1_{{field.name}}')">
          {{field }}</div>
      </div>
      {% endif %}
      {% if "2" in field.name %}
      <div class="row-3 bg-slate-200 rounded-md px-1 pb-4 pt-2">
        <span id="label2_{{ field.name }}" class="sr-only">{{ field.label }}</span>
        <div x-data x-init="$el.querySelector('.tiptap')?.setAttribute('aria-labelledby', 'label2_{{field.name}}')">
          {{field }}</div>
      </div>
      {% endif %}
      {% if "3" in field.name %}
      <div class="row-4 bg-slate-100 rounded-md px-1 pb-4 pt-2">
        <span id="label3_{{ field.name }}" class="sr-only">{{ field.label }}</span>
        <div x-data x-init="$el.querySelector('.tiptap')?.setAttribute('aria-labelledby', 'label3_{{field.name}}')">
          {{field }}</div>
      </div>
      {% endif %}
      {% if "4" in field.name %}
      <div class="row-5 bg-slate-200 rounded-md px-1 pb-4 pt-2">
        <span id="label4_{{ field.name }}" class="sr-only">{{ field.label }}</span>
        <div x-data x-init="$el.querySelector('.tiptap')?.setAttribute('aria-labelledby', 'label4_{{field.name}}')">
          {{field }}</div>
      </div>
      {% endif %}
      {% if "5" in field.name %}
      <div class="row-6 bg-slate-100 rounded-md px-1 pb-4 pt-2">
        <span id="label5_{{ field.name }}" class="sr-only">{{ field.label }}</span>
        <div x-data x-init="$el.querySelector('.tiptap')?.setAttribute('aria-labelledby', 'label5_{{field.name}}')">
          {{field }}</div>
      </div>
      {% endif %}
      {% endfor %}
    </div>
    <div class="flex flex-wrap gap-2 w-full justify-end bg-slate-50 pt-4 pb-8 px-2 md:px-4 rounded-b-lg">
      {% if menu %}
      <button type="submit" hx-target="#menu-form" hx-post="{% url 'menu:create' %}" hx-swap="outerHTML show:window:top"
        class="max-w-max hover:bg-[#d4bf79]
          border-[#d3af37] border-2 transition-all duration-300
            px-4 py-2 my-1 rounded-full font-semibold uppercase cursor-pointer
            hover:ring-2 hover:ring-[#d3af37] hover:ring-offset-2">Zapisz jako nowy</button>
      <button type="submit" hx-target="#menu-form" hx-post="{% url 'menu:update' menu.id %}" class="max-w-max bg-[#d3af37]
          px-4 py-2 my-1 rounded-full font-semibold uppercase cursor-pointer
          hover:ring-2 hover:ring-[#d3af37] hover:bg-[#d4bf79] hover:ring-offset-2
          transition-all duration-300">Zapisz zmiany</button>
      {% else %}
      <button type="submit" hx-target="#menu-form" hx-post="{% url 'menu:create' %}" hx-swap="outerHTML show:window:top"
        class="max-w-max hover:bg-[#d4bf79]
        border-[#d3af37] border-2 transition-all duration-300
          px-4 py-2 my-4 rounded-full font-semibold uppercase cursor-pointer
          hover:ring-2 hover:ring-[#d3af37] hover:ring-offset-2">Gotowe</button>
      {% endif %}

    </div>
  </form>
</main>
{% endblock content %}
{% block extra_js %}
<script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.14.8/dist/cdn.min.js"></script>
{% endblock %}